.App {
  text-align: center;
}


.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}



.App-link {
  color: #61dafb;
}

.row-header{
  margin:0px auto;
  padding:0px auto;

  color:black;
}

.row-content {
  margin:0px;
  padding: 35px 0px 35px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
  background-color:white;
  color:black;
}

.footer{
  background-image: url(/assets/images/RemiWebResize.png);
  background-size: 100%;
  background-repeat: no-repeat;

  

  margin:0px auto;
  padding: 20px 0px 20px 0px;
  color:black;
  min-height: 65vh;
}

 @media (max-width: 380px) {
  .footer{
    min-height: 5vh;
  }

  #copy{
   
    margin-left:50px;
    margin-top: 3px;
    
  }

  #phoneAlign{
  
  margin-top:0px; 
  margin-left:0px;
 
  }

  #instabutton{
    margin-left:0px;
    margin-top:10px;
  }

 
  .footer{
    background-image: url(/assets/images/RemiWebResize.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }

}


#instabutton{
  margin-left:10px;
  margin-top:60px;
}

#copy{
  margin-left:50px;
  margin-top:250px;
}


#phoneAlign{
  margin-top:65px; 
  margin-left:28px
}

.jumbotron {
  margin-bottom:0px !important;
  background-image: url(/assets/images/remiBackground1.png);
  background-size: cover;
  background-repeat: no-repeat;
}



.navlink {
  color:black;
}
.navbar-dark {

  color:black;
}

.navbar-toggler-icon{
  color:black;
}

navbar-toggler-icon{
  color:black;
 
}

.navbar-brand{
color:black;
}

.carousel {
background-size: 0px;
width:85%;
margin:auto;
}

.carousel-item {
margin-bottom: 45px;
margin-top: 20px;
}

.carousel-item img {
  align-self: 0;
  min-height: 100px;
  width:70%;
  height: 70%;
}

.carousel-inner .active{
  background: 20px !important;
 
}
.carousel-control-prev-icon {
  background-image: url(/assets/images/LeftPaw.png)!important;
  background-size: 50% !important;
  height: 150px !important;
  width: 150px !important;
  margin-right:30px;
 

 }
 
 .carousel-control-next-icon {
   background-image: url(/assets/images/RightPaw.png) !important;
   background-size: 50% !important;
   height: 150px !important;
   width: 150px !important;
   margin-left:30px;

 }

 .carousel-indicators .active{
  background-color: darkgray;
}
.carousel-indicators {
  background-color:lightgray;
}


.container {
  margin-top: 5px;
  padding-left:30px;
  padding-right:30px;
}

.textResize{
  font-size:10px;
  color:black;
}
