.App {
  text-align: center;
}


.App-header {
  background-color: peachpuff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:peachpuff;
}

.jumbotron{
  background-color: peachpuff !important;
  color:black;
}

.App-link {
  color: #61dafb;
}

.row-header{
  margin:0px auto;
  padding:0px auto;
  background-color: peachpuff;
  color:black;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
  background-color: peachpuff;
  color:black;
}

.footer{
  background-color: peachpuff;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
  color:black;
  min-height: 100vh;
}

.jumbotron {
  padding:1px 1px 1px 1px;
  margin:0px auto;
  background-color: peachpuff ;
  color:black;
}

.navlink {
  color:black;
}
.navbar-dark {
  background-color: peachpuff;
  color:black;
}

.navbar-toggler-icon{
  color:black;
}

navbar-toggler-icon{
  color:black;
 
}

.navbar-brand{
color:black;
}