.App {
  text-align: center;
}


.App-header {
  background-color: peachpuff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:peachpuff;
}

.jumbotron{
  background-color: peachpuff !important;
  color:black;
}

.App-link {
  color: #61dafb;
}

.row-header{
  margin:0px auto;
  padding:0px auto;
  background-color: peachpuff;
  color:black;
}

.row-content {
  margin:0px;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
  background-color:white;
  color:black;
}

.footer{
  background-color: lightgray;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
  color:black;
  min-height: 20vh;
}

.jumbotron {
  margin-bottom:0px !important;
  background-color: peachpuff ;
  color:black;
  background-image: url(/assets/images/remiBackground1.png);
  background-size: 100%;
}



.navlink {
  color:black;
}
.navbar-dark {
  background-color: peachpuff;
  color:black;
}

.navbar-toggler-icon{
  color:black;
}

navbar-toggler-icon{
  color:black;
 
}

.navbar-brand{
color:black;
}

.carousel {
background:rgba(211, 211, 211, 0.63);
}

.carousel-item {
margin-bottom: 45px;
margin-top: 20px;
}

.carousel-item img {
  align-self: 0;
  min-height: 100px;
  width:80%;
  height: 80%;
}

.container {
  margin-top: 5px;
}

